body {
  background: #2980b9;
}
.card {
  background: white;
  width: 30rem;
  float: none;
  border: 3px solid black;
  margin: 210px auto;
}

input {
  width: 380px;
  border: 1px solid black;
}

#loginButton:hover {
  background: #2f3542;
  color: white;
}

.cardReg {
  background: white;
  width: 30rem;
  float: none;
  border: 3px solid black;
  margin: 130px auto;
}

.pass {
  width: 190px;
}
.pass::placeholder {
  text-align: center;
}

input[type="checkbox"] {
  display: inline;
  margin-right: 5px;
}

#gen {
  margin-right: 10px;
}

#check {
  width: 20px;
}
#gender {
  text-align: center;
  border: 1px solid black;
}

*:focus {
  outline: none;
}

#errorDiv {
  width: 40rem;
  height: 7rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  border: 3px solid black;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#divEr {
  margin-left: auto;
  margin-right: auto;
  width: 20;
}

/* Navbar  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

#navbar,
nav {
  width: 100% !important;
  max-height: 70px;
  overflow: hidden;
  background: #333;
  color: white;
}

#navbar a {
  color: white;
}

#navbar h1 {
  float: left;
  padding-top: 10px;
}

#navbar ul {
  font-size: 20px;
  list-style: none;
  float: right;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover {
  background: #444;
  color: #f7c08a;
}

/* End of Navbar */

#loader {
  width: 100px;
  height: 100px;
  margin: 130px auto;
}

@media only screen and (max-width: 470px) {
  .cardReg {
    margin: 0;
    margin-top: 80px;
    width: 1em;
    height: 38rem;
  }
}

@media only screen and (max-width: 600px) {
  .card,
  .cardReg {
    width: 30rem;
    margin: 100px auto;
  }
}
