body,
html {
  background: #758aa2;
}

input {
  height: 50px;
}

#fragOK {
  margin-top: 5%;
}

#getUser {
  margin: auto;
  border: 1px solid black;
  width: 300px;
}

#erMsg {
  margin-top: 10px;
  color: white;
}

#userBox {
  width: 50%;
  margin: auto;
  padding: 0;
  border: 1px solid black;
}

.username {
  cursor: pointer;
}

.username:hover {
  text-decoration: underline;
}
